registry=https://nexus-repo.apps.hp.ocp.na.xom.com/repository/npm-group/
email=han.thu@exxonmobil.com
//nexus-repo.apps.hp.ocp.na.xom.com/repository/npm-group/:_auth=[OXM2VkY5R1o6cTFGeDcwU0NoR2VDR0JTZDZsZkFmZ25fYU5JWVlzUktXdkpHMjV1eUJuc3Q=]
always-auth=true
strict-ssl=false